[2016-05-12 15:37] mirceaulinic opened #20 "Replace static methods _find_txt and convert with their equiv from napalm_base.helpers"

[2016-05-20 11:48] kaage opened #23 "get_mac_address_table doesn't work with JunOS 12.3R6.6"
get_mac_address_table doesn't seem to work with JunOS 12.3R6.6 while get_facts for example is working well:

[code]

[2016-05-20 11:54] mirceaulinic commented on #23
Can you run on the CLI the following command and share the output?

[code]

[2016-05-20 12:38] dbarrosop commented on #23
When are vendors going to start being consistent?

[2016-05-20 12:48] mirceaulinic commented on #23
There were a couple of changes between JunOS 12 and JunOS 13. I was aware about the changes for LLDP and fixed them via #9, but I'm surprised they changed it also for MAC Addr Table.
There's no much work to fix, but first we need @kaage to provide the XML RPC he sees on his device.

[2016-05-20 13:31] kaage commented on #23
There is now such command: "show bridge mac-table"

Could this help:

[code]

[2016-05-20 14:10] kaage commented on #23
Show bridge commands are for MX-routers only. I'm having EX-switches.

[2016-05-20 14:23] mirceaulinic commented on #23
Yes, seems to be what I was looking for.
I don't have any EX to test, can you come with a PR similar to https://github.com/napalm-automation/napalm-junos/pull/9/files and check if the device model begins with EX make a different RPC call (https://github.com/napalm-automation/napalm-junos/pull/9/files#diff-afaba48ce3c0bbd9a251e7f992db0a49R363)?

Example:

[code]

[2016-05-20 16:20] kaage commented on #23
I'm not so familiar with python yet. However, in the first comment you can see device model is "Virtual Chassis". This is because this switch contains two separate physical switches. I'm not sure how this information is seen if there is just one single standalone EX-series switch but I can try to figure out.

[2016-05-20 16:43] mirceaulinic commented on #23
Since the RPC seems to be application specific, I definitely need an entity of information in order to make the right decision.

Can you please run the following command on the device and share the output (first 6 lines should be enough -- but make sure that `<description></description>` is included)?

[code]

[2016-05-20 16:52] kaage commented on #23
Here's the compete output. Serial numbers has been changed:

[code]

[2016-05-20 16:56] mirceaulinic commented on #23
Unfortunately there's no much to do about that since `<description>Virtual Chassis</description>` is what the underneath library PyEZ is using: https://github.com/Juniper/py-junos-eznc/blob/71725d80e4a25b1cf39974d8e9dbd4e006832630/lib/jnpr/junos/facts/chassis.py#L44

Firstly try to find out why it says _Virtual Chassis_ instead of the real device model, if you are indeed running agains a physical

[2016-05-20 17:10] kaage commented on #23
Virtual-Chassis is the concept of making two or more physical switches to act like one. They have one management IP, one configuration etc. One of them is running Routing Engine (Control Plane) and others are backups if active Routing Engine fails. However, all physical switch ports (data plane) in all of the switches are active and can be used.

As you can see from the last output this virtual ch

[2016-05-20 17:30] mirceaulinic commented on #23
Fair enough, this is an acceptable compromise.

[2016-05-20 17:41] kaage commented on #23
And in addition to Virtual-Chassis also models starting with EX or QFX should be handled same way.

[2016-05-20 22:57] mirceaulinic commented on #23
Even easier: using the native PyEZ facts (https://github.com/Juniper/py-junos-eznc/blob/71725d80e4a25b1cf39974d8e9dbd4e006832630/lib/jnpr/junos/facts/personality.py#L18):

[code]

[2016-05-21 20:15] stiltzkin10 opened #24 "get_facts() junos TypeError"
I get a TypeError when I do a get_facts() on a virtual JUNOS router. I included the get_interfaces() call to show that NAPALM is able to talk to the router. It's just that get_facts() fails.

$ python
Python 2.7.11+ (default, Apr 17 2016, 14:00:29)
[GCC 5.3.1 20160413] on linux2
Type "help", "copyright", "credits" or "license" for more information.

...   i
...
'demux0'
'pime'
...
'em0'
'pp0'
'dsc

[2016-05-21 20:37] mirceaulinic commented on #24
Please execute the following in a console and share the output:

[code]

[2016-05-22 12:00] stiltzkin10 commented on #24
[code]

[2016-05-24 12:05] #24 closed

[2016-06-27 13:44] mirceaulinic opened #27 "get_bgp_neighbor does not support inet flow address families"
### Description of Issue/Question
Fails when trying to retrieve the BGP neighbors using ```get_bgp_neighbors```.

### napalm-junos version
[code]

### JunOS version
[code]

### Steps to Reproduce the Issue

- Configure BGP to use inet flow: ```set protocols bgp family inet flow```
- Open the connection with the device
- call ```get_bgp_neighbors```

### Error Traceback

[code]

[2016-06-29 21:34] narJH27 opened #28 "get_bgp_neighbors_detail() returns 'received_prefix_count' and other prefix related params as a list"
This occurs only if both routing tables, ie, inet.0 and inet6.0 are activated for that peer. The data model suggests that the value should be an int instead of a list. Can someone please fix this ?

[2016-06-29 23:08] mirceaulinic commented on #28
Thanks for reporting this @narJH27!
Due to a design error, `get_bgp_neighbors_detail` does not have support for multi-VRF. We are planning to make the necessary adjustments ASAP. This issue will be fixed when applying the changes!
Let's keep this open for the time being, and we'll ask you to confirm once everything is prepared!

[2016-06-30 09:05] mirceaulinic opened #29 "Cannot close and reopen session"
### Description of Issue/Question
Cannot close and reopen session with a device because the config object ```cu``` is already binded.

### napalm-junos version
[code]

### JunOS version
[code]

### Steps to Reproduce the Issue

- Open connection with the device
- Close the conection
- Open it again

### Error Traceback

[code]

### Solution

Must remove the binding during ```close```.

[2016-06-30 09:18] dbarrosop commented on #28
@narJH27 note that when we fixed the issue, as @mirceaulinic due to a design error, the method response will change. I am sorry for the inconvenience but any code using that method will most likely fail after the change.

[2016-06-30 09:39] #23 closed

[2016-06-30 16:23] narJH27 commented on #28
@mirceaulinic thanks for replying and letting me know that this indeed is an issue that is being worked on.

@dbarrosop not sure what you mean by "response will change". can you elaborate a bit more on this if possible?

[2016-06-30 16:31] narJH27 commented on #28
@mirceaulinic & @dbarrosop also i wanted to point out that we are seeing a sudden increase in the number of connections and in turn file descriptors, to junos devices, that are probably being caused due to the design problem you guys alluded to. Is this something that you are aware of as well and will this also be rectified as part of the design changes you guys are working on?

[2016-06-30 17:19] mirceaulinic commented on #28
@narJH27 Can you please provide more details? This does not sound OK & from what I can understand this is not related to the fact that `get_bgp_neighbors_detail` returns list instead of integer.
The changes we referred to  are related to the output structure of `get_bgp_neighbors_detail` (i.e.: in the root of the main dictionary we'll introduce a new key representing the name of the routing table.

[2016-06-30 17:23] narJH27 commented on #28
@mirceaulinic will this change in structure be across all the drivers? or just junos? the file descriptor problem might be caused by something else entirely ..... doesn't look to be a napalm issue.

[2016-06-30 17:25] dbarrosop commented on #28
@narJH27 The object returned by `get_bgp_neighbors_detail` will change for all drivers. The change will not be dramatic, most probably the current dictionary will just be nested inside a key representing the address-family as with `get_bgp_neighbors`. So your existing code using that method should be super easy to adapt.

[2016-06-30 17:31] mirceaulinic commented on #28
@dbarrosop I think you meant "the current dictionary will be nested inside a key representing the VRF, as with `get_bgp_neighbors`", didn't you?

[2016-06-30 17:42] dbarrosop commented on #28
Yes, exactly.

[2016-06-30 17:48] mirceaulinic commented on #28
Good, just wanted to make sure we have the same idea in mind.

[2016-06-30 18:48] narJH27 commented on #28
cool thanks guys for the confirmation. do let me know when you have these changes incorporated

[2016-07-06 10:04] mirceaulinic commented on #29
Solved via https://github.com/napalm-automation/napalm-junos/pull/30

[2016-07-06 10:04] #29 closed

[2016-07-07 10:06] #28 closed

[2016-07-11 13:18] mirceaulinic commented on #20
@dbarrosop this will be a part of the cleanup/hackaton too

[2016-07-12 13:40] mirceaulinic opened #32 "Enforce NAPALM format for IP and MAC address fields"
Must use the helpers ip and mac from napalm-base: napalm-automation/napalm-base#55 resp napalm-automation/napalm-base#54

[2016-07-26 21:29] dbarrosop opened #35 "Fix setup.cfg and requirements.cfg files"
Relates to napalm-automation/napalm#280

Add `setup.cfg` and `requirements-dev.txt` file with the following content:

* `setup.cfg

[code]

* `requirements-dev.txt`

[code]

[2016-09-09 18:37] dbarrosop opened #38 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-10 10:49] dbarrosop opened #39 "bgp nlri evpn not supported (junos)"
Original issue napalm-automation/napalm#191 created by @fooelisa

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/napalm/junos.py", line 307, in get_bgp_neighbors
    peer['address_family'] = self._parse_route_stats(neighbor_data)
  File "/opt/local/Libra

[2016-09-10 11:08] dbarrosop commented on #28
Can we close this one?

[2016-09-12 07:02] dbarrosop opened #41 "Add `__version__` at the module level"
See details in the parent issue napalm-automation/napalm-base#70

[2016-09-12 08:14] dbarrosop opened #42 "Add ISSUE_TEMPLATE"
See details in the parent issue napalm-automation/napalm-base#71

[2016-09-13 15:55] dbarrosop opened #43 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
See details in the parent issue napalm-automation/napalm#297

[2016-09-17 22:47] mirceaulinic opened #45 "Error retrieving RPM probes results in JunOS 14"
### Description of Issue/Question
Starting with JunOS 14 the datatype has been changed for ```loss_percentage``` from int to float.
PyEz does not seem to like this.

### Error traceback

[code]

This is because by default python fails when converting a string like 0.0000 to int:

[code]

This error is then propagated into the transformations of the PyEz view builder.

[2016-09-17 23:10] mirceaulinic commented on #39
@fooelisa can we have more detail on this? The section "Steps to reproduce the issue" is what I am looking for.
Or is this obsolete?

[2016-09-18 11:47] kderynski commented on #27
@mirceaulinic I have managed to reproduce this issue also on Junos: `12.1X47-D15.4`. Fix seems to be very easy. `inetflow` added to `address_family_mapping` fixed this particular issue  ex.

[code]

I am checking if there is more exceptions like this for example with different NLRIs.

[2016-09-18 11:59] mirceaulinic commented on #27
Thanks @kderynski for looking into this. Will assign this to you.

[2016-09-18 12:06] #45 closed

[2016-09-18 12:06] mirceaulinic commented on #41
Fixed via https://github.com/napalm-automation/napalm-junos/pull/44

[2016-09-18 12:06] #41 closed

[2016-09-18 12:06] mirceaulinic commented on #20
Fixed via https://github.com/napalm-automation/napalm-junos/pull/44

[2016-09-18 12:06] #20 closed

[2016-09-18 12:07] mirceaulinic commented on #32
Fixed via https://github.com/napalm-automation/napalm-junos/pull/44

[2016-09-18 12:07] #32 closed

[2016-09-18 12:07] mirceaulinic commented on #35
Fixed via https://github.com/napalm-automation/napalm-junos/pull/44

[2016-09-18 12:07] #35 closed

[2016-09-18 12:08] kderynski commented on #27
Cool, probably the same situation is in #39 I'll check it.

[2016-09-18 13:09] kderynski commented on #27
I have checked it and issue will be present for any table/NLRI different from `inet` and `inet6`, so for example `l2vpn`,  `l3vpn`, `evpn` and other types. I think it would be better to return table name if there is no key for this name in `address_family_mapping`. Second option is to add all types in `address_family_mapping` dict as we want to keep unified names across different platforms.

[2016-09-18 13:10] mirceaulinic commented on #27
@kderynski please go ahead and let us know when you have anything to review :)

[2016-09-18 13:11] mirceaulinic commented on #39
Assigning this to @kderynski

[2016-09-18 13:12] mirceaulinic commented on #38
@grizz I recall you have already the implementation for this. Feel free to open a pull request

[2016-09-18 13:51] mirceaulinic commented on #42
Solved via https://github.com/napalm-automation/napalm-junos/pull/46

[2016-09-18 13:51] #42 closed

[2016-09-18 13:51] mirceaulinic commented on #43
Solved via https://github.com/napalm-automation/napalm-junos/pull/46

[2016-09-18 13:51] #43 closed

[2016-09-18 13:59] dbarrosop opened #48 "Migrate tests to new testing framework"
See details in the parent issue napalm-automation/napalm-base#99

[2016-09-18 14:00] mirceaulinic commented on #39
Fixed via https://github.com/napalm-automation/napalm-junos/pull/47

[2016-09-18 14:00] #39 closed

[2016-09-18 14:01] mirceaulinic commented on #27
Fixed via https://github.com/napalm-automation/napalm-junos/pull/47

[2016-09-18 14:01] #27 closed

[2016-09-26 16:22] mirceaulinic commented on #38
Closing via https://github.com/napalm-automation/napalm-junos/pull/52

[2016-09-26 16:22] #38 closed

[2016-10-05 10:35] dbarrosop opened #54 "Pin napalm-base driver"
See details in the parent issue napalm-automation/napalm-base#107

[2016-10-05 11:12] dbarrosop opened #56 "Python 3 support"
See details in the parent issue napalm-automation/napalm#199

[2016-10-05 22:40] mirceaulinic commented on #54
Closing via https://github.com/napalm-automation/napalm-junos/pull/55

[2016-10-05 22:40] #54 closed

[2016-10-10 22:23] mirceaulinic opened #59 "Unable to retrieve BGP config from JunOS < 13"
### Description of Issue/Question
Unable to retrieve BGP config from vSRX

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup
Using the old vSRX box running 12.1, tried to retrieve the BGP config.

### napalm-junos version
0.3.0

### JunOS version
(Paste verbatim output from `show version and haiku` between quotes below)

[code]

### Ste

[2016-10-10 23:49] mirceaulinic commented on #59
Oups, this seems to be related to JunOS 12 😞

[2016-10-10 23:53] mirceaulinic commented on #59
Tested against other devices - looks like older versions are not able to filter the XML tree properly although the structure is the same.
This will need more changes - basically the whole architecture of `get_bgp_config` must be changed.

[2016-10-11 20:16] #59 closed

[2016-10-25 11:47] mirceaulinic opened #63 "Incorrect value for prefix count (-1) when executing get_bgp_neighbors_detail"
### Description of Issue/Question

Executing ```get_bgp_neighbors_detail``` will return -1 for ```accepted_prefix_count```,
```advertised_prefix_count``` etc.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS

[2016-10-25 12:48] #63 closed

[2016-10-27 03:47] dhoutz opened #66 "get_environment not working against MX240"
### Description of Issue/Question

Running get_environment against MX240 failed with the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm_junos/junos.py", line 288, in get_environment
    float(structured_object_data['temperature'])
TypeError: float() argument must be a string or a number

Other NAPALM

[2016-10-27 05:43] dfex commented on #66
Verified this bug on an MX80 as well:

[code]

[2016-10-27 07:38] dfex commented on #66
I believe this issue is primarily being caused because on the MX, Junos is erroneously reporting the PEMs as being of Class "Temp" (but providing no Temperature) instead of Class "Power" like it does on other platforms.  Examples below:

[code]

[2016-10-27 10:06] mirceaulinic commented on #66
Closed via https://github.com/napalm-automation/napalm-junos/pull/68

[2016-10-27 10:06] #66 closed

[2016-10-29 22:47] mirceaulinic opened #70 "Add optional argument `config_format`"
Load the config in the format specified in this field - if not specified, will default to `text`.
Ref: https://github.com/napalm-automation/napalm-base/issues/111

[2016-10-29 22:54] mirceaulinic opened #71 "Load config using format as specified in the extension"
When calling method `load_merge_candidate` using the argument `filename` should consider the extension to determine the format type.
Ref: https://github.com/napalm-automation/napalm-base/issues/111

[2016-11-16 01:34] piter50 opened #74 "Not able get static routes"
### Description of Issue/Question
When using salt-stack to grab a static route from a junos router, I get an error about it being a NoneType

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste ver

[2016-11-16 01:58] mirceaulinic commented on #74
A stupid bug... :(

`_PROTOCOL_SPECIFIC_FIELDS_` should have one more key `static` having `[]` as value.

[2016-11-16 02:11] piter50 commented on #74
[code]

Added that in and restarted the salt-proxy for that juniper and can confirm it returned the routes I expected to see

[2016-11-16 11:20] #74 closed

[2016-11-17 11:36] mirceaulinic commented on #48
Closed via https://github.com/napalm-automation/napalm-junos/commit/bda14e674b1727cd1030373be59d69c5694f6a3b

[2016-11-17 11:36] #48 closed

[2016-11-18 08:00] dbarrosop opened #82 "Implement `is_alive` method"
See details in the parent issue napalm-automation/napalm-base#137

[2016-11-22 16:52] mirceaulinic commented on #82
Closed via https://github.com/napalm-automation/napalm-junos/commit/bf5ed178d2468d96d5bfeab0bc91aedad9310df1

[2016-11-22 16:52] #82 closed

[2016-12-06 17:34] bewing opened #84 ".get_route_to() does not support connected/direct routes"
### .get_route_to() does not support connected/direct routes
In order to implement testing of routes with no next-hops for napalm-automation/napalm-base#157, direct or connected routes must be a supported protocol.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[x] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep nap

[2016-12-10 14:15] #84 closed

[2016-12-17 11:54] dbarrosop opened #90 "Tox"
See details in the parent issue napalm-automation/napalm#327

[2016-12-20 08:03] mirceaulinic opened #91 "`get_route_to` fails if protocol is not specified"
### Description of Issue/Question

[code]

[2016-12-20 08:41] mirceaulinic opened #92 "`get_snmp_information` not returning `location` and `contact`"
### Description of Issue/Question

Noticed this issue long time ago, opening this bug to fix it at some point

[code]

[2016-12-22 16:38] #92 closed

[2016-12-22 16:38] #91 closed

[2016-12-26 07:15] ktbyers commented on #56
Python3 issue in PYEZ with parsing YAML: https://github.com/Juniper/py-junos-eznc/issues/639

[2016-12-28 19:35] mirceaulinic commented on #90
Closed via https://github.com/napalm-automation/napalm-junos/commit/c40cc819d8de6695468869ac45a64a18045930ce

[2016-12-28 19:35] #90 closed

[2016-12-28 19:35] mirceaulinic commented on #56
Closed via https://github.com/napalm-automation/napalm-junos/commit/c40cc819d8de6695468869ac45a64a18045930ce

[2016-12-28 19:35] #56 closed

[2017-01-05 12:04] mirceaulinic opened #104 "`get_optics` is broken"
### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[code]

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` between quotes below)

[code]

[2017-01-05 12:06] mirceaulinic commented on #104
Same on `13.3R6.5`

[2017-01-05 18:59] itdependsnetworks opened #105 "LLDP Fails when not enabled"
### Description of Issue/Question

get_lldp_neighors{_details} fails if lldp is not supported.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[x] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` between

[2017-01-06 14:58] pkleanthous-zz commented on #105
Verified with napalm-junos==0.6.0

It seems that we get an RPC error if the l2cpd-service subsystem is not running.

Backtrace:

[code]

[2017-01-06 15:02] mirceaulinic commented on #105
I'm not sure - what else would you expect to see when the process is not running? I find the error message intuitive enough. At most we could raise a different error, but I don't see much value added.

[2017-01-06 15:05] mirceaulinic commented on #105
Or to return empty dict?

[2017-01-06 15:07] pkleanthous-zz commented on #104
Tested it with
[code]
[code]

It returns an empty dict

[code]

[2017-01-06 15:08] pkleanthous-zz commented on #105
@mirceaulinic We can return the RPC error as is in the dict

[2017-01-06 15:09] mirceaulinic commented on #104
Yeah... this might be because a vSRX does not have any physical interfaces :)

[2017-01-06 15:11] mirceaulinic commented on #105
If a dict would be preferable rather than an error, it should be at least an empty dict.
Otherwise, if we introduce error messages in a dictionary whose keys are supposed to be interfaces only, it will lead to confusions.
So we can either raise error, either empty dict - not both.

[2017-01-17 15:39] mirceaulinic opened #111 "`get_interfaces_ip` defaults IP mask to 0 instead of 32"
### Description of Issue/Question

This happens to lo0, irb etc.

[2017-01-23 13:08] mirceaulinic opened #112 "Add VRF support to base traceroute and ping"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/pull/185

[2017-01-27 13:50] #104 closed

[2017-01-27 13:50] #105 closed

[2017-01-27 13:50] #111 closed

[2017-01-28 22:18] mirceaulinic opened #120 "Add is_enabled key in the output structure of get_bgp_config"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/106

[2017-01-28 22:22] mirceaulinic opened #121 "Enhance `get_route_to`"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/174

[2017-01-28 22:26] mirceaulinic opened #122 "Add vrf and neighbor_address arguments for get_bgp_neighbors and get_bgp_neighbors_detail"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/105

[2017-02-08 20:29] #112 closed

[2017-02-12 00:39] mirceaulinic opened #125 "`get_interfaces_ip`: add `primary_ip` key"

[2017-02-16 10:24] kderynski opened #126 "Add commit confirmed option to optional_args"
Can we add `commit confirmed` option to `optional_args` ? It may be useful in some cases and it is easy to implement. I think only junos supports real commit confirmed functionality so I assume it would be better to implement it as local optional argument.

Example implementation:

Two optional arguments added to driver's init function:

<pre><code>        self.junos_commit_confirmed = optional_ar

[2017-02-16 10:47] mirceaulinic commented on #126
On the longer term, we want to add this option directly to the `commit` method, i.e.: you'd be able to do: `device.commit(confirmed=30)`.
A change as above would not make much sense to me, as doing so you'll have only commit confirmed during that session. So you'd go into an infinite loop of commit confirmed:

[code]

Does this make sense to you?

[2017-02-16 12:14] kderynski commented on #126
I was thinking about function scope of this functionality.

I'd like to clarify this. If you define confirmed option in `optional_args` whole confirmation process would be performed inside `commit_config()` function.

For example (logic during `commit()` execution)

[code]

I have tested this concept and it seems to be working as expected. If `optional_arg` is not defined code will be executed in

[2017-02-16 12:17] mirceaulinic commented on #126
I know what you mean.

How would you be able distinguish between a commit confirmed and a straight commit over the same session?

[2017-02-16 12:28] kderynski commented on #126
Ah ok, you are right. In this approach, it would be defined per session not per `commit_confg()` execution, so there is no way to distinguish it. I was thinking about use case where we have devices without OOB network connectivity and those devices will be in high risk group and every commit against those devices should be confirmed.

[2017-02-16 12:38] mirceaulinic commented on #126
Sure @kderynski - commit confirm is undoubtedly useful and I'm pro introducing it.
But it will be via an optional arg per method, not per session, e.g.:

[code]

etc.

Same for other features:

- commit with message
- load config using different format preferred by the user, rather than hardcoding to `text` as of now
- etc.

The current blocker is the documentation.
@dbarrosop can you provide some

[2017-02-16 13:16] kderynski commented on #126
@mirceaulinic definitely, it would be great to have optional arg per method. I've just tried to add functionality without any other changes. Anyway, I'm ready to help with implementation or/and testing when guidelines will be ready :)

[2017-02-16 13:17] mirceaulinic commented on #126
Thanks @kderynski!

[2017-02-16 16:50] dbarrosop commented on #126
I think this one should be added to the commit method itself. It's probably one of those cases where a slight change in the API makes complete sense but we will have to update all drivers.

[2017-02-16 16:53] dbarrosop commented on #126
Btw, this will also require an extra method to confirm the operation, so I guess we will need:

`def commit_config(self, revert_in=0) # revert_in is number of seconds until rollback. Don't revert if 0`
`def commit_confirm(self) # Confirm pending commit`

[2017-02-16 16:56] mirceaulinic commented on #126
Yes, that may be true.
Although I recall on Junos you only need to do a normal commit after the confirmed one (at least from the CLI).
But sure, we should investigate and see also what's the behaviour on the other drivers; also XR has some confirmed feature but I have no idea how it works.

[2017-02-16 18:30] kderynski commented on #126
I can confirm that Junos needs normal commit after the confirmed one (also via netconf), so in this case, only `commit_config` needs to be extended by one additional argument.

[2017-02-16 19:03] dbarrosop commented on #126
I'd prefer to have two different methods even if the second one calls the first one with `revert_in=0`, some other vendors might have a more complex logic and it's nicer to have it isolated instead of shitty `ifs` that are 20 lines long or require to hide the added complexity on hidden methods, cleaner code and easier to test :)

[2017-02-16 19:05] mirceaulinic commented on #126
Yes, I agree with @dbarrosop's arguments. Makes sense to do it that way!

[2017-03-06 03:11] mirceaulinic opened #128 "New feature: commit confirmed"
See details in the parent issue napalm-automation/napalm-base#214

[2017-03-06 03:14] mirceaulinic commented on #128
Implemented in https://github.com/napalm-automation/napalm-junos/pull/127

[2017-03-06 03:15] mirceaulinic commented on #126
Tracked in https://github.com/napalm-automation/napalm-junos/issues/128

[2017-03-06 03:15] #126 closed

[2017-03-07 00:47] #71 closed

[2017-03-07 00:48] mirceaulinic commented on #70
Will be tracked under a separate issue as API change.

[2017-03-07 00:48] #70 closed

[2017-03-17 18:27] mirceaulinic opened #134 "Enhance `get_arp_table` and `get_mac_address_table` with filtering arguments"
See details in the parent issue napalm-automation/napalm-base#217

[2017-03-23 03:36] jeffgallagher opened #138 "get_bgp_neighbors_detail() returning a value of list for ['messages_queued_out'] when peer ASN has multiple route table instances"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` between quotes below)

[code]

### Steps to Reproduce the Issue

###

[2017-03-23 03:48] jeffgallagher commented on #138
Just noticed I wasn't at current napalm-junos release - upgraded to 0.6.6 and the issue is still present.

[2017-03-23 12:04] mirceaulinic opened #139 "Incorrect outer key returned for get_bgp_neighbors_detail()"
Verbatim copy from https://github.com/napalm-automation/napalm-base/issues/227

According to the documentation both get_bgp_neighbors() and get_bgp_neighbors_detail() should: "Returns a dictionary of dictionaries. The keys for the first dictionary will be the vrf (global if no vrf)." However different values seem to be returned for the outer keys of each calls. (i.e. one is the vrf the other the r

[2017-03-23 12:15] mirceaulinic commented on #138
Hi @jeffgallagher - thanks for reporting.
I've been able to reproduce this, but I'm not sure what's the best way to fix. In certain circumstances we may transform the list to a certain string format. But this field has to be int.

At the same time, looking at this together with https://github.com/napalm-automation/napalm-junos/issues/139, I think we should group `inet.0`, `inet6.0` and `inetflow.0

[2017-03-23 13:08] jeffgallagher commented on #138
Agreed. I think that approach makes the most sense.

[2017-03-23 13:11] mirceaulinic commented on #138
I will see if I can solve it this week and release a major version, as this changes many things (but they are changing for the better, ofc).

[2017-03-23 13:15] jeffgallagher commented on #139
@mirceaulinic  - in #139 you mentioned rolling the routing instances into 'default' - for clarity would that be better labeled with an outer key of 'global' such that the outer key will match the output  of get_bgp_neighbors()?  To be fair - that might also require a change to the IOSXR code as well since it returns 'global' for the get_bgp_neighbors but 'default' for get_neighbors_detail.

[2017-03-23 14:19] mirceaulinic commented on #139
You are correct @jeffgallagher - this should be fixed also in XR. Thanks for pointing it.

[2017-03-24 10:52] dbarrosop commented on #139
I think that's very dangerous and might break a lot of code. It will certainly break code, I know several DC network using routing instances as they don't need VRFs (no MPLS so no need of the extra overhead) to isolate L3 networks so this method will all of a sudden work completely different. I think this require more thinking and adding without changing anything.

[2017-03-29 12:45] stiltzkin10 opened #141 "JUNOS get_mac_address_table() fails on '*' MAC address"
### Description of Issue/Question
get_mac_address_table() fails when JUNOS return '*' as the MAC address.

XXXXX@XXXXX> show ethernet-switching table
Ethernet-switching table: 3 entries, 1 learned, 0 persistent entries
  VLAN              MAC address       Type         Age Interfaces
  client201         *                 Flood          - All-members
  client201         b8:27:eb:04:ff:a2 Learn

[2017-03-29 13:17] mirceaulinic commented on #141
Closed via https://github.com/napalm-automation/napalm-junos/commit/ebc02218348c21d8e8beaf46c3f14beff1d556cf

[2017-03-29 13:17] #141 closed

[2017-03-31 13:54] stiltzkin10 opened #143 "FR: Add optional_args for SSH key file."
Since the JUNOS API supports SSH keys it would be nice if naplm_junos could support it too.

Instead of specifying username and password one would just specify the username and SSH key file as an optional argument.

For example:

[code]

[2017-04-11 14:22] stiltzkin10 commented on #143
Fixed by #145

[2017-04-11 14:22] #143 closed

[2017-04-16 07:42] dbarrosop opened #146 "`get_optics` change "infinity" value"
As described here: https://github.com/napalm-automation/napalm-base/issues/237

[2017-04-20 08:16] mirceaulinic commented on #139
I remember discussing the above with @dbarrosop and the cause of this misunderstanding was my wording. For the record, I referred to grouping `inet.0`, `inet6.0` etc into `default`, leaving unchanged the behaviour for the rest of the VRFs.

[2017-04-21 07:04] dbarrosop commented on #139
Yes, +1 to your last comment and the solution proposed here.

[2017-05-03 12:02] mirceaulinic opened #149 "`get_bgp_neighbors_detail`: down neighbors not returned"
BGP neighbors down are not returned by the `get_bgp_neighbors_detail` function.
We need to refactor this method from scratch.

[2017-05-03 16:52] zachmoody opened #150 "Config Format Detection"
### Description of Issue/Question
In #132 we're trying to detect the format of the config. I'm curious how someone might go about using "set" syntax w/o a line that begins with set. E.g. deactivating or deleting a bit of config w/o hacking in a superfluous command that starts with set first.

I'd be happy to submit a PR that made `_detect_config_format` more robust. Also was curious what you all t

[2017-05-03 17:01] mirceaulinic commented on #150
Hi @zachmoody, thanks for your thoughts!

I'd be happy to submit a PR that made _detect_config_format more robust.

You are correct. I have also thought about that, although I didn't raise and issue or submitted a PR to enhance it. If you are happy to help, please go ahead.

This is one of the subjects long debated internally. For the time being we have agree on the solution above, but if you have

[2017-05-03 17:40] zachmoody commented on #150
Awesome, I'll get started on a PR then. Out of the available "verbs" I thought these might make sense to include for completeness:

- activate
- annotate
- copy
- deactivate
- delete
- insert
- protect
- rename
- unprotect

Any others you all might want to add or drop from that list?

Sure, so for everything related to loading a config we've encountered `text` format has worked well, save this one

[2017-05-04 16:29] #138 closed

[2017-05-16 08:59] mirceaulinic opened #152 "ntp.stats borked due to unicode string literals"
### Description of Issue/Question

It looks like our unicode literals together with recent changes in the junos-eznc library, triggered a bug.
This has been raised during my tutorial at RIPE 74 (although unfortunately not recorded):

### Setup

As in https://ripe74.ripe.net/presentations/18-RIPE-74-Network-automation-at-scale-up-and-running-in-60-minutes.pdf

### napalm-junos version

[code]

###

[2017-05-16 09:12] mirceaulinic commented on #152
Easy to reproduce:

[code]

[2017-05-16 09:23] mirceaulinic commented on #139
Closed via https://github.com/napalm-automation/napalm-junos/commit/a995d5ebce084b126a59d8c88ba93fd0b8f4e2ad

[2017-05-16 09:23] #139 closed

[2017-05-16 09:42] mirceaulinic commented on #152
This will be tracked under https://github.com/Juniper/py-junos-eznc/pull/721

[2017-05-16 20:48] mirceaulinic commented on #152
Closed via https://github.com/Juniper/py-junos-eznc/commit/b0928145e2f1fb7b922720185a07206d225b6e8f

[2017-05-16 20:48] #152 closed

[2017-05-19 11:30] mirceaulinic opened #153 "`get_bgp_neighbors`: down neighbors return inconsistent output"
### Description of Issue/Question

For down neighbors, the the address family is an empty dictionary:

[code]

[2017-05-22 12:02] #149 closed

[2017-05-29 21:02] pshemk opened #156 "get_route_to"
### Description of Issue/Question
get_route_to doesn't let to specify a table. When multiple vpnv4 tables are present the resulting routes can not be parsed to valid ipv4 address:

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[

[2017-05-30 08:33] mirceaulinic commented on #156
Duplicate of https://github.com/napalm-automation/napalm-junos/issues/121

[2017-05-30 08:33] #156 closed

[2017-05-30 11:13] martzuk opened #158 "Feature request: Support interface units"
### Description of Issue/Question
Junos has a concept of physical and logical interfaces.
Physical: xe-0/0/0
Logical xe-0/0/0.0

In practice this means xe-0/0/0 will hold physical properties of a port e.g. speed. xe-0/0/0.0 will hold logical properties such as IP addresses etc.

On Napalm-EOS this already seems to be supported, as subinterfaces:
[code]
It would be great to have this same functiona

[2017-06-02 12:49] #153 closed

[2017-06-06 21:32] lampwins opened #163 "load config with optional config db locking"
### Description of Issue/Question
When using one of the load config methods, the user should be able to control if the config db should be locked or not prior to the load. I propose an extension to use of the existing `config_lock` optional param. Currently the docs state this param is used to determine if the config is locked at connection open. I propose it is also looked at in the load methods.

[2017-06-06 22:02] mirceaulinic commented on #163
Thanks for suggestion @lampwins.

I would propose to introduce an additional optional argument, say `never_lock_config` (bool). Would you be happy to submit a PR to address this?

[2017-06-06 22:30] lampwins commented on #163
@mirceaulinic I would be more than happy to contribute this.

On second though, I agree it should be a second param. I suggest `config_load_lock` which will default to true, to preserve the current functionality.

If we are to do this, I also think `config_lock` should be renamed to `open_config_lock` (or similar), but that would obviously be a breaking change and outside of this PR.

[2017-06-07 12:55] mirceaulinic commented on #163
No, renaming should not take place.

[2017-06-08 07:58] dbarrosop commented on #163
I actually suggest "aliasing". For example, in the code we would certainly change the variable name, so we would have `session_lock` (current one) and `config_lock` (the one proposed here). I think current name is confusing and makes code hard to read. Then on `init` we could do:

[code]

This would allow us to have a more consistent naming without breaking backwards compatibility.

What do you th

[2017-06-08 10:17] bugdealer opened #166 "get_lldp_neighbors_detail doesn't work with JUNOS EX 14.1X53-D25.2"
### Description of Issue/Question
I was tryring out `get_lldp_neighbors_detail` API on a Juniper EX switch but got following error.
I also tried `get_lldp_neighbors` and it works fine.
It seems like a PyEz problem but I'm not sure of that.
### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[x ] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output fr

[2017-06-08 15:31] mirceaulinic commented on #166
Hi @bugdealer - `get_lldp_neighbors` and `get_lldp_neighbors_detail` work very different (that's a very special case on Juniper). Also from the CLI, if you need to details you need to execute `show lldp neighbors interface <interface name>`.
This is the request failing in that case. Would you be able to provide the output of `show lldp neighbors interface <interface name> | display xml rpc` (any i

[2017-06-09 02:09] bugdealer commented on #166
Hi @mirceaulinic, the output is
[code]

[2017-06-13 03:42] bugdealer commented on #166
Hi, @mirceaulinic  according to [https://apps.juniper.net/xmlapi/operTags.jsp](https://apps.juniper.net/xmlapi/operTags.jsp) (Junos 13.1 and later)
and [https://www.juniper.net/documentation/en_US/junos12.3/information-products/topic-collections/junos-xml-ref-oper/index.html](https://www.juniper.net/documentation/en_US/junos12.3/information-products/topic-collections/junos-xml-ref-oper/index.html)

[2017-06-13 06:21] bugdealer commented on #166
Found out some older JunOS release(11.4R7 in my case ) does not support `get-lldp-interface-neighbors-information` rpc...
How can we support such devices?

[2017-06-13 08:28] mirceaulinic commented on #166
Hi @bugdealer - If if doesn't support `get-lldp-interface-neighbors-information`, what's the RPC in that case?

[2017-06-13 08:37] bugdealer commented on #166
[code]
@mirceaulinic  :(
guess we can call napalm `cli` api and manually parse text output to corresponding return format

[2017-06-13 08:46] mirceaulinic commented on #166
Yea, that's bad... we can't do more than that so let's use the `cli` method.

[2017-06-14 09:10] mirceaulinic commented on #166
Closed via https://github.com/napalm-automation/napalm-junos/commit/b019279c9687d65068636f80e00722a8168d5411

[2017-06-14 09:10] #166 closed

[2017-06-14 09:16] mirceaulinic commented on #163
To be honest, I'm not sure what are the benefits. That optional arg is documented http://napalm.readthedocs.io/en/develop/support/index.html#list-of-supported-optional-arguments

The explanation is obvious enough for me:

If we feel that is not, feel free to put there a wall of text to explain, we don't aim to have them self-explanatory (if you look at that list, all of them require reading except

[2017-06-14 09:22] mirceaulinic commented on #163
Personally without DB lock on config changes is not a good idea in production anyway (even on the CLI "configure exclusive" is one of the best practices recommended): you can discard or overwrite and eventually commit someone else's changes or a different process, which often leads to unpleasant surprises.
But as long as this optional arg defaults to True, I'm fine.

[2017-06-15 07:32] dbarrosop commented on #163
The explanation fails to indicate that otherwise the configuration is locked during the `load_*_configuration` phase until the configuration is committed or discarded. Maybe that's worth mentioning.

I agree. Might be convenient though to not lock it if you just want to grab a diff.

@lampwins out of curiosity, what's the use case?

[2017-06-23 04:06] ktbyers opened #172 "get_bgp_neighbors generates keyerror exception on vMX"
Running:

[code]

Generated the following exception:
[code]

Show bgp summary showed the following:
[code]

[2017-06-23 18:35] ktbyers commented on #172
Reproduced this against the development branch. Here is what `neighbor_details` dictionary contains right before KeyError exception:

[code]

[2017-06-23 18:39] ktbyers commented on #172
Here is what `neighbor_details` looks like when it works (BGP session is up):

[code]

[2017-06-26 08:48] #172 closed

[2017-06-29 14:08] lampwins opened #176 "get_facts error with switch stack"
### Description of Issue/Question
When calling `get_facts()` on an EX switch stack where the master and backup routing engines are in node positions greater than 0, napalm bombs as `RE0` in the facts output is `None`. This is mostly an upstream issue in junos-pyez but nonetheless napalm should check this when trying to gather the uptime.

### Did you follow the steps from https://github.com/napalm

[2017-06-29 14:16] lampwins commented on #176
Upstream issue in junos-pyez https://github.com/Juniper/py-junos-eznc/issues/750

The proposed upstream solution is to include `uptime` in the routing engine dicts in `re_info['default']`, which will always be available no matter the fpc location of the routing engines.

[2017-06-29 14:36] mirceaulinic commented on #176
Thanks for reporting this @lampwins - as you have the environment to reproduce this, would you be able to submit the fix please?

[2017-06-29 14:42] lampwins commented on #163
Totally agree that locking the config in production is best practice. Nevertheless, I need the option just you do when do things manually on the cli.

I do have a couple of use cases for this, mainly surrounding provisioning of devices. In some cases I generate a large portion of the config but an operator needs to add some specific routing information. If the automated config were committed prema

[2017-06-29 14:46] lampwins commented on #176
@mirceaulinic sure, I would be happy to. Until the upstream issue is resolved, are you okay with setting the facts `uptime` to `None` when it is unavailable from the junos-pyez output?

[2017-06-30 22:15] bdlamprecht opened #177 "Error with "get_bgp_neighbors""
### Description of Issue/Question

When running the NAPALM getter 'get_bgp_neighbors()' I get an `IndexError: list index out of range` error.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbat

[2017-06-30 22:26] bdlamprecht opened #178 "Error with "get_bgp_neighbors_detail'"
### Description of Issue/Question
This is related to Issue #177.

When running the NAPALM getter 'get_bgp_neighbors_detail()' I get a `TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'` error.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-

[2017-07-01 08:25] dbarrosop commented on #176
@lampwins use `-1` instead of `None`.

[2017-07-01 08:29] dbarrosop commented on #163
I see, I'd recommend alternatives to your workflow but anyway, I understand we should be flexible enough to support you. So I am fine with reworking a tiny bit the code as suggested in https://github.com/napalm-automation/napalm-junos/issues/163#issuecomment-307028811

@mirceaulinic thoughts? @lampwins, if @mirceaulinic agrees to it, is this something you could send a PR for?

[2017-07-03 09:50] mirceaulinic commented on #163
Yes, @lampwins please go ahead and submit this. My comment was more like a suggestion, but as David pointed out, we should be flexible enough.

[2017-07-04 14:56] sincerywaing opened #179 "warning raise exception: add ignore_warning as optional_arg"
### Description of Issue/Question
if we delete a command that does not exist, program will raise exception and load set will fail.
warning: statement not found
warning: statement not found
warning: statement not found

however in pyez we can use ignore_warning to ignore any warning. Can we add this?

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[* ] Yes
[ ] No

[2017-07-04 18:03] dbarrosop commented on #179
I guess we can add an `optional_arg` to the driver. Is this something you could look into and send a PR?

[2017-07-05 03:17] sincerywaing commented on #179
@dbarrosop I created a pull request to develop branch to add ignore_warning as optional_args. Please take a look.

[2017-07-05 11:33] mirceaulinic commented on #179
This feature will be included in napalm-junos 0.11.0.

[2017-07-05 11:33] #179 closed

[2017-07-05 15:43] sincerywaing commented on #176
I had a similar issue with stack switches that get_facts will timeout. seems to many interfaces that caused this issue.

[2017-07-06 07:03] dbarrosop commented on #176
@sincerywaing there is a "timeout" attribute you can pass when creating the driver object. Try it and if it doesn't work open a new issue, please.

[2017-07-13 06:37] sincerywaing opened #183 "Junos cli: raw command cause rpc warning"
### Description of Issue/Question
if we want to use dev.cli(cmd) and get the output, it seems:
1) for some command it won't execute as expected, like ping or trace
2) for some command we get warning which mess up the output

To provide user more flexibility,  I want to provide a way for user to enter show/ping/trace command he/she want to use in an interaction way.

anyway we can tweak this?

###

[2017-07-13 09:11] mirceaulinic commented on #183
Hi @sincerywaing:

Unfortunately, there's nothing we can do about that -- some commands are forbidden from CLI execution. This is intentional: naturally and understandably, Juniper wants to discourage users from doing this.
I would suggest you write a private method in your environment that does what you need.
Just out of curiosity: is there any information you'd need from `cli('show bgp summary')

[2017-07-13 09:34] sincerywaing commented on #183
@mirceaulinic make much sense. I'm just exploring a way to let user run some show command after they merge the config so they can do some check. Do you want me to file a pr to turn it off? I think again feel that optional_arg cli_warning might not needed. I'd file a pr to turn it off. Let me know if you agree so.

[2017-07-15 05:47] sincerywaing opened #184 "MergeConfigException: return the command caused error"
### Description of Issue/Question
when we are trying to load_merge_candidate, if it crashes, we may want to know which command caused the crash.

napalm-ios has a similar pr: https://github.com/napalm-automation/napalm-ios/pull/178

Discussion in pyez: https://github.com/Juniper/py-junos-eznc/issues/759#issuecomment-315277539

### Did you follow the steps from https://github.com/napalm-automation/

[2017-07-15 14:13] dbarrosop commented on #184
I am actually not sure the device returns that information.

[2017-07-15 14:27] dbarrosop commented on #184
Ok, it does. See the linked PR for a potential solution.

[2017-07-16 14:28] sincerywaing commented on #184
nice! Thanks @dbarrosop

[2017-07-17 08:55] sincerywaing opened #187 "traceroute: crash with ncclient timed out while waiting for an rpc reply"
### Description of Issue/Question
when doing a traceroute, program crashes with ncclient timed out while waiting for an rpc reply
Also if no-resolve can be added to the command, the efficiency could be greatly improved.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[ *] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | gr

[2017-07-17 09:55] mirceaulinic commented on #187
Hi @sincerywaing - this looks very familiar to me. Please let me know: are you running this on a MX80? Is `12.3X48-D40.5` the real version you're working with?

[2017-07-17 10:24] sincerywaing commented on #187
@mirceaulinic yes the verion is correct and I'm using srx240.

[2017-07-17 10:50] mirceaulinic commented on #187
Are you saying that if you do `no-resolve` you are not seeing the same problems?

I suggest you increase the `timeout` optional arg to, say 120, and see what happens.

[2017-07-17 10:56] sincerywaing commented on #187
@mirceaulinic adding no-resolve is just a guess, 'cause this would make things much quicker. regardless this issue, I'd suggest we add this as an option.
I'll try timeout and get back to you.

[2017-07-17 11:09] mirceaulinic commented on #187
Okay, there was a bug on MX80 routers (apparently, they don't use the same traceroute binary as MX240, MX480 or MX960) -- not sure it's the same problem here, but the symptom sounds pretty similar:

This has been solved in: 14.2R8 15.1X53-D60 15.1R5 15.1F7 16.1R2 16.2R1.

Would you have other physical platforms to compare and check if that's the case you're facing, or it just takes very long to re

[2017-07-17 11:23] sincerywaing commented on #187
@mirceaulinic I'll try srx550.
meanwhile can you help evaluate the possibility to add no-resolve as kw?

[2017-07-17 11:23] sincerywaing commented on #187
also add to your comment, I'm tracing a destination that is responsive... that's why weird.

[2017-07-17 11:24] mirceaulinic commented on #187
At the moment it's going to be very painful to add this kwarg. But feel free to define it as an additional `optional_arg`.

[2017-07-17 12:15] sincerywaing commented on #187
@mirceaulinic confirmed it works fine on srx550.
I'll submit a pr to add no-resolve as option_arg
meanwhile I tried timeout=120 and it seems work fine. Thanks @mirceaulinic !

[2017-07-18 08:00] dbarrosop commented on #187
As commented in the PR, I don't think we should fix it with an optional_arg. We should either hardcode it to no-resolve or have an argument on the function itself.

For the looks of it, it's not going to solve this issue anyway.

[2017-07-18 08:38] mirceaulinic commented on #187
Please check the output first:

If we hardcode for everyone with no-resolve, ip_address and host_name will be the same for everyone, by default. Bad idea.

[2017-07-20 07:05] sincerywaing opened #190 "SRX get_facts() enhancement: clustering"
### Description of Issue/Question
Can we add clustering information to srx get_facts()?
```show chassis cluster summary```

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[* ] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `sh

[2017-07-20 07:07] sincerywaing commented on #190
actually under``` jnpr.junos.facts``` there are ```srx_cluster```, ```srx_cluster_id``` and ```srx_cluster_redundancy_group```.

[2017-07-20 11:20] dbarrosop commented on #190
This is probably something that is better to have somewhere else as the use is quite niche. Either we find a good fit in the current openconfig/ietf models or we create our own.

@bewing, do you think the platform model could be a good fit for something like this?

[2017-07-20 13:39] bewing commented on #190
It could definitely work -- there could be a virtual component that captured the status of the cluster in its properties, and the individual firewalls could also include cluster status information in their properties.

https://github.com/openconfig/public/blob/master/release/models/platform/openconfig-platform.yang#L57

Property definition was left intentionally vague in order to allow capture of

[2017-07-20 13:48] mirceaulinic opened #191 "KeyError: u'peer_fwd_rti' on Junos 15"
### Description of Issue/Question

Apparently, the `peer_fwd_rti` is still not widely available on all Junos >= 15 distributions.

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Traceb

[2017-07-21 15:33] sincerywaing commented on #187
closing this out per discussion in pr mentioned.

[2017-07-21 15:33] #187 closed

[2017-07-21 18:54] bkeifer opened #194 "get_lldp_neighbors_detail() fails on JunOS EX switches"
### Description of Issue/Question
Calling get_lldp_neighbors_detail() fails on all varieties of Juniper EX-series switches that I have to test with.  Other getters (including get_lldp_neighbors(), get_interfaces(), get_config(), and get_facts()) work without a problem.

Tested switch models are:
- EX4300
- EX2300
- EX2300-C

### Did you follow the steps from https://github.com/napalm-automation/na

[2017-07-21 19:05] bkeifer commented on #194
This is similar to #166, but my OS version does appear to support it:

[code]

[2017-07-25 06:11] dbarrosop commented on #190
I'd personally do that. These are propietary technologies anyway.

[2017-07-25 15:55] #184 closed

[2017-07-25 22:37] mirceaulinic commented on #194
Very interesting @bkeifer - as per https://github.com/napalm-automation/napalm-junos/issues/166#issuecomment-307275948 and https://github.com/napalm-automation/napalm-junos/issues/166#issuecomment-307998096, on EX series running 13.2, the XML RPC should be `get-lldp-interface-neighbors-information`, while yours is `get-lldp-interface-neighbors`, like on MX series... but the interface name is under

[2017-07-25 22:39] mirceaulinic commented on #183
Solved in #186

[2017-07-25 22:39] #183 closed

[2017-07-31 01:41] sincerywaing commented on #190
We can use a universal way to define a 'get_vc_status' in napalm-base and implement it in various vendor specifics. quite useful function.

[2017-07-31 07:39] dbarrosop commented on #190
@sincerywaing do you have an example of the RPC command and response needed to extract that information?

[2017-07-31 07:54] sincerywaing commented on #190
@dbarrosop

srx:
[code]

ex3300:
[code]

[2017-07-31 10:58] dbarrosop commented on #190
What's the RPC command? You can see it with `show whatever | display xml rpc` or something like that. Will look into adding support for this with napalm-yang in a couple of weeks.

[2017-07-31 11:54] sincerywaing commented on #190
[code]
[code]

[2017-08-01 11:42] mirceaulinic commented on #191
Solved in https://github.com/napalm-automation/napalm-junos/pull/193

[2017-08-01 11:42] #191 closed

[2017-08-04 19:25] bdlamprecht commented on #177
@mirceaulinic Any updates on resolving this issue?

[2017-08-04 19:44] ktbyers commented on #177
@bdlamprecht We probably need the output of the following to help us debug the information. Should be able to get this by using `| display xml` and `| display xml rpc`.

https://github.com/napalm-automation/napalm-junos/blob/develop/test/unit/mocked_data/test_get_bgp_neighbors/normal/get-bgp-neighbor-information.xml

[2017-08-04 21:35] bdlamprecht commented on #177
As discussed  in the NetworkToCode Slack channel, here is the XML file for the peer that is crashing the `get_bgp_neighbors`.  I've done a search and replace for the IPs and replaced the first 3 octets with RFC1918 addressing.  The last octet was not changed at all.

[xml for junos_bgp_getter issue.txt](https://github.com/napalm-automation/napalm-junos/files/1201706/xml.for.junos_bgp_getter.issue.

[2017-08-09 12:57] wasabi222 opened #198 "get_probes_config gives traceback"
### Description of Issue/Question
It looks like the `junos_views.yml` probes config has a bad path of get: services/rpm/probe/test (line 560) where it should just be get: services/rpm/probe, which I tested and am no longer receiving an error on, however I'm not actually able to retrieve the probe config with that command.

### Did you follow the steps from https://github.com/napalm-automation/napa

[2017-08-11 15:27] wasabi222 opened #201 "get_bgp_neighbors_detail gives encode type error"
### Description of Issue/Question
When issuing device.get_bgp_neighbors_detail(), you get traceback saying the type must be str, not unicode. This issue is fixed with this PR: https://github.com/napalm-automation/napalm-junos/pull/200

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[x] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `p

[2017-09-05 10:13] mirceaulinic commented on #201
Closed via https://github.com/napalm-automation/napalm-junos/commit/3a73f1b8519a846c960361784ce0295b1c354b3d

[2017-09-05 10:13] #201 closed

[2017-09-05 10:19] mirceaulinic commented on #198
Hi @wasabi222 - sorry for late reply.

Can you please provide more details? I've never seen any errors with the RPM probes config getter, and I used it quite frequently. It's equally true that I have never tried on a VM - maybe that could be the problem.
But to be able to debug this, I would need more details, i.e. the structure of the XML object retrieved from the device (`show configuration serv

[2017-09-15 12:38] #176 closed

[2017-09-15 12:41] mirceaulinic commented on #194
@bkeifer checking in here - are you working on a fix?

[2017-09-29 10:11] ckishimo commented on #177
The #209 should fix that as the error is exactly the same. However I cannot see the problem based on the xml file provided (ie: all ribs have the `advertised-prefix-count` node).

@bdlamprecht is it possible that `get_bgp_neighbors` is crashing because of a different peer than the one you provided ? would it be possible to get the full output of `show bgp neighbors | display xml` ?

[2017-09-29 14:04] mirceaulinic commented on #178
Closed via https://github.com/napalm-automation/napalm-junos/commit/04ec8ba9c229530d694440be67cae52b54932f8b

[2017-09-29 14:04] #178 closed

[2017-10-03 12:17] mirceaulinic commented on #198
Ping @wasabi222 - did you see the question above?

[2017-10-03 16:24] bdlamprecht commented on #177
@ckishimo Yes, #209 did fix the error for `get_bgp_neigbors_detail` for this device (thanks!)

However, but when I checked the napalm `get_bgp_neighbors` (no `_detail`), the same error as posted above occurred.

I've done what you asked and posted the `show bgp neighbors | display xml` into this `gist`:
https://gist.github.com/bdlamprecht/0a2742ef0a649164b7b85783af9cbebb

Hope that provides you wi

[2017-10-03 16:26] wasabi222 commented on #198
Sorry Mircea - this got lost in the sauce when I was on vacation - I believe this is specific to vmx. I will get you these details before the week's end.

[2017-10-04 10:02] ckishimo commented on #177
@bdlamprecht thanks for the outputs! I was able to see an error while using `get_bgp_neighbors` however the error is not exactly the same as before, so not sure if it's the same as you saw or a new one...:
[code]
Based on the data provided, `sent_prefixes` is of type `int` when a `list` was expected:
[code]
I just pushed the change converting `sent_prefixes` into a list.
@bdlamprecht could you ple

[2017-10-04 15:25] bdlamprecht commented on #177
@ckishimo Yes, that fixed the issue I was having.  I now get the expected values back correctly.  Please submit this fix as PR so it can be merged into the main driver.

Thanks again for investigating this and revolving it so quickly.

[2017-10-05 17:45] wasabi222 commented on #198
I just tried this again and there were no issues on vmx. I'm closing this out.

[2017-10-05 17:46] #198 closed

[2017-10-12 13:27] mirceaulinic opened #220 "get_lldp_neighbors_detailed borked on Junos 15, MX series"
### Description of Issue/Question

Because F$%^&ng vendors and the RPC has been changed yet again. On MX series used to be `get-lldp-interface-neighbors-information`, now it's `get-lldp-interface-neighbors`.

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` bet

[2017-10-14 20:45] ktbyers opened #222 "get_environment temperature generates an exception against SRX"
napalm-junos 0.12.0

get_environment against an Juniper SRX yielded:

[code]

[2017-10-24 10:38] mirceaulinic commented on #220
Blocking this, I will reopen under the main repo.

[2017-10-24 10:38] #220 closed

[2017-10-24 10:43] mirceaulinic commented on #220
https://github.com/napalm-automation/napalm/issues/428

[2017-10-24 10:53] mirceaulinic commented on #222
Moved to https://github.com/napalm-automation/napalm/issues/429

[2017-10-24 10:53] #222 closed

[2017-10-24 10:54] mirceaulinic commented on #194
Moved to https://github.com/napalm-automation/napalm/issues/430

[2017-10-24 10:54] #194 closed

[2017-10-24 10:55] mirceaulinic commented on #177
Closed via https://github.com/napalm-automation/napalm-junos/commit/0fbda09ae7321bd7f9185877a8bb04150a199f33

[2017-10-24 10:55] #177 closed

[2017-10-24 10:57] mirceaulinic commented on #163
Hi @lampwins - I am afraid i need to close this, as we no longer accept PRs and issues to this repository. After the reunification (see https://napalm-automation.net/reunification/) you can submit a PR or discuss this further under the main repo (https://github.com/napalm-automation/napalm). Thanks for understanding!

[2017-10-24 10:57] #163 closed

[2017-10-24 10:58] #134 closed

[2017-10-24 10:58] #128 closed

[2017-10-24 10:58] #125 closed

[2017-10-24 10:58] #122 closed

[2017-10-24 10:58] #120 closed

[2017-10-24 10:58] #121 closed

[2017-10-24 10:59] mirceaulinic commented on #146
Closing this, we'll need to move https://github.com/napalm-automation/napalm-base/issues/237 under the main repo, at https://github.com/napalm-automation/napalm/issues

[2017-10-24 10:59] #146 closed

[2017-10-24 11:01] mirceaulinic commented on #158
This will be tracked under https://github.com/napalm-automation/napalm/issues/431

[2017-10-24 11:01] #158 closed

[2017-10-24 11:08] mirceaulinic commented on #190
Hi @sincerywaing  - I am afraid i need to close this, as we no longer accept PRs and issues to this repository. After the reunification (see https://napalm-automation.net/reunification/) you can submit a PR or discuss this further under the main repo (https://github.com/napalm-automation/napalm).
For the time being, I moved this issue to https://github.com/napalm-automation/napalm/issues/432.
Than

[2017-10-24 11:08] #190 closed